{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container my-3" style="   width: 1000px;
    margin: auto;"  >


    <form  action="" method="post" > {% csrf_token %}

        <h2 style=" font-weight: bold;">Inscrivez–vous chez Quantum</h2>
  <div class="form-group">
    <label  style=" margin: 0px 0px 0px 0px;">Username</label>
    <input  class="form-control" style="width: 300px;" id="username" name="username" placeholder="Nom d&#39;utilisateur ">

          <div class="form-group">
    <label  style=" margin: 0px 0px 0px 0px;">Password</label>
    <input type="password" class="form-control" style="width: 300px; margin: 0px 0px 0px 0px; border:1px solid #333" id="password" name="password" placeholder="Mot de passe">
  </div>
          <div class="form-group">
    <label  style=" margin: 0px 0px 0px 0px;">Confirm password</label>
    <input type="password" class="form-control" style="width: 300px; margin: 0px 0px 0px 0px; border:1px solid #333" id="confirmpassword" name="confirmpassword" placeholder="Confirmation de mot de passe">
  </div>

         <div class="form-group">
    <label for="name" style=" margin: 0px 0px 0px 0px;">First name</label>
    <input class="form-control" style="width: 300px; margin: 0px 0px 0px 0px;" id="firstname" name="firstname" placeholder="Prénom">
  </div>
             <div class="form-group">
    <label for="name" style=" margin: 0px 0px 0px 0px;">Last name</label>
    <input  class="form-control" style="width: 300px;" id="lastname" name="lastname" placeholder="Nom de famille">
  </div>

  <div class="form-group">
    <label for="name" style=" margin: 0px 0px 0px 0px;">Email</label>
    <input type="email" class="form-control" style="width: 300px;" id="email" name="email" placeholder="Adresse courriel">
  </div>

         <div class="form-group">
    <label for="name" style=" margin: 0px 0px 0px 0px;">Confirm Email</label>
    <input type="email" class="form-control" style="width: 300px;" id="confirmemail" name="confirmemail" placeholder="Confirmer le courriel">
  </div>
         <select id="category" name="category">
		<option value="">Choisir une catégorie</option>
		<option value="Soins de santé">Soins de santé</option>
             <option value="Infirmiers(ères)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Infirmiers(ères)</option>
             <option value="Infirmiers(ères) auxiliaires">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Infirmiers(ères) auxiliaires</option>
             <option value="Préposés(ées) aux bénéficiaires">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Préposés(ées) aux bénéficiaires</option>
             <option value="Aide aux familles">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Aide aux familles</option></select>

        <br>
         <br>
        	<select name="location" id="location"  class="mr-2">
		<option value="">Choisir un lieu</option>
		<option value="Québec">Québec</option>
                <option value="Québec et les environs">  Québec et les environs</option>
                <option value="Montréal (Région de)">  Montréal (Région de)</option>
                <option value="Montréal – Centre">  Montréal – Centre</option>
                <option value="Montréal – Laval & Rive Nord">  Montréal – Laval & Rive Nord</option>
                <option value="Montréal – Rive Sud">  Montréal – Rive Sud</option>
                <option value="Montréal – Ouest de l'Île">  Montréal – Ouest de l'Île</option>
                <option value="Montréal – Est">  Montréal – Est</option>
                <option value="Montréal - St-Laurent">  Montréal - St-Laurent</option>
                <option value="Blainville/Laval Rive Nord">  Blainville/Laval Rive Nord</option>
                <option value="Gatineau et les environs">  Gatineau et les environs</option>
                <option value="Ontario"></option></select>
         <br>
         <br>
         <div class="float-left display-inline-block">
                    <span >Joindre votre CV</span>
                    <br />
                    <input name="document" type="file" id="cv"  />
                    <br />
                    <em><span>Formats acceptés: MS Word, RTF ou PDF.</span></em>

                </div>
        <br>
        <br>
        <div class="radio">
            <br>
            <br>
Avez-vous un numéro d'assurance sociale (NAS) ou un permis valide pour travailler au Canada?
            <br>
 <label class=""><input type="radio" id="yes" name="yes" checked>Yes</label>
<label class=""><input type="radio" id="no" name="no">No</label>
</div>
   <div class="float-left display-inline-block padding-top-5">
                    <span class="float-left" style="display:inline-block;width:22px;"><input id="ctl00_Main_CheckBoxAgreement" type="checkbox" name="ctl00$Main$CheckBoxAgreement" /></span>

                        <span id="ctl00_Main_AgreementTermsLabel" class="defaultText float-left user-agrement" style="font-size:Medium;">J’ai lu et j’accepte les modalités de</span>
                        <a id="ctl00_Main_EmployeeUserAgreement" class="defaultText float-left user-agrement" href="javascript:agreement();" style="font-size:Medium;">l'Accord de l'utilisateur</a>
                    <span></span>
                </div>
        <br>
        <br>


        <button type="submit" class="btn btn-success">Submit</button>
</form>

</div>
{% endblock %}